@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="~/css/styles/Index.css"/>


<div class>
    

    <div class="text-center">

        <div class="text-light text-center" style="  height: 40em; width: 100%; background-image: url('../images/conf 1.png');background-repeat: no-repeat;background-size:cover;background-attachment:fixed;position:relative">
            <div style="position:absolute;top:30%;left:35%">
                <p class="text-info text-uppercase font-weight-bold">155 days to the event</p>
                <img src="~/images/hero-logo.png" style="width:20em;" />
                <h1 class="card-title display-4 font-weight-bolder">2020</h1>
                <p class="card-text">29 February 2020 | International Hotel, Iasi, Romania</p>
                <button class="btn btn-info">Register</button>
            </div>
        </div>
    </div>
   @*<div class>
            <section id="hero" class="hero-section align-center light-text window-height center-content text-center bg-cover">
                <div class="heading-block">
                    <div class="container">
                        <div class="hero-heading-top">
                            <span id="days">187</span>days to the event
                        </div>
                        <div class="logo">
                            <img src="~/images/hero-logo.png" />
                        </div>
                        <h1 class="hero-heading-main">2020</h1>
                        <div class="location">29 February 2020 | International Hotel, Iasi, Romania</div>
                        <div class="btns-container">
                            <a href="http://dotnetdays.eventbrite.com" target="_blank" class="btn btn-large btn-main">Register</a>
                        </div>
                    </div>
                </div>
                <div class="counters-wrapper" style="height:90px;"></div>
            </section>
        </div>*@
    <div class="container">
        <div class="row parent">
            <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/91/alex-thissen.png)">
                <div class="details">
                    <a class="link" href="http://localhost:52634/Speakers/Details/8002">
                        <span class="name">Alex Thissen</span>
                        <span class="position">Cloud architect</span>
                        <span class="position">Xpirit</span>
                    </a>
                    <ul class="speaker-socials">
                        <li>
                            <a target="_blank" class="link d-inline" href="https://twitter.com/alexthissen">
                                <img src="~/images/twitter_PNG3.png" width="30"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/92/alex-mang.png)">
                <div class="details">
                    <a class="link" href="http://localhost:52634/Speakers/Details/8003">
                        <span class="name">Alex Mang</span>
                        <span class="position">CEO, Microsoft MVP&RD</span>
                        <span class="position">KeyTicket Solution</span>
                    </a>
                    <ul class="speaker-socials">
                        <li>
                            <a target="_blank" class="link d-inline" href="https://twitter.com/iamalexman">
                                <img src="~/images/twitter_PNG3.png" width="30"/>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" class="link d-inline" href="https://alexmang.com/">
                                <i class="fas fa-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/94/dennis-doomen.png.webp)">
                <div class="details">
                    <a class="link" href="http://localhost:52634/Speakers/Details/8004">
                        <span class="name">Dennis Doomen</span>
                        <span class="position">Software Architect</span>
                        <span class="position">Aviva Solution</span>
                    </a>
                    <ul class="speaker-socials">
                        <li>
                            <a target="_blank" class="link d-inline" href="https://twitter.com/ddoomen">
                                <img src="~/images/twitter_PNG3.png" width="30"/>
                            </a>
                        </li>
                       
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
