@model Conference.Domain.Entities.Talks

@{
    ViewData["Title"] = "Details";
}





<div class="">

    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12 col-md-2 offset-md-2 space-big space">
             

                    @if (Model.Name == "Integrating health checks in your .NET Core solutions")
                    {
                        <img class="img-responsive img-fluid" src="~/images/alex-thissen.png" alt="Alternate Text" />
                    }
                    @if (Model.Name == "I'm Confused: Should I Orchestrate My Containers on Service Fabric or AKS")
                    {
                        <img class="img-responsive img-fluid" src="~/images/alex-mang.png" alt="Alternate Text" />
                    }
                    @if (Model.Name == "How to Practice Test Driven Development without Shooting Yourself in the Foot")
                    {
                        <img class="img-responsive img-fluid" src="~/images/dennis-doomen (2).png" alt="Alternate Text" />
                    }
                

            </div>
            <div class="col-xs-12 col-md-5 space-big space">

                <h1 class="title">@Html.DisplayFor(model => model.Name)</h1>

                <div class="speaker-socials blue">

                </div>
                
                <a class="subtitle blue" asp-action="Index">Back to List</a>
            </div>
            <div class="col-xs-12 col-md-3 bg-mv text-center space">

                <div class="talk-title white text-left">
                    @if (Model.Name == "Integrating health checks in your .NET Core solutions")
                    {
                        <p>@Html.DisplayNameFor(model => model.Description)</p>
                    }
                    @if (Model.Name == "I'm Confused: Should I Orchestrate My Containers on Service Fabric or AKS")
                    {
                        <p>@Html.DisplayFor(model => model.Description)</p>
                    }
                    @if (Model.Name == "How to Practice Test Driven Development without Shooting Yourself in the Foot")
                    {
                        <p>@Html.DisplayFor(model => model.Description)</p>
                    }
                </div>


                <div style="height:15rem"></div>

            </div>
        </div>

    </div>
</div>


