@model IEnumerable<Conference.Domain.Entities.Workshops>

@{
    ViewData["Title"] = "Index";
}

<div>
    <section class="container">
        <div>
            <h1 class="title mv container">Workshops</h1>
        </div>
        <h1 class="text-center mv title">Stay tuned! Workshops will be announced soon.</h1>
    </section>

</div>