@model IEnumerable<Conference.Domain.Entities.Sponsors>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Sponsors.css"/>


<div class="">
    <div class="container">
        <section>
            <h3 class="title text-left">Multinational technology</h3>
            <div class="row">

                <div class="col-sm-12 col-md-3 sponsor-item">

                    <a href="https://dotnet.microsoft.com/" style target="_blank">
                        <img class="img-fluid" title="Microsoft" style="max-height:168px" src="~/images/Microsoft.png" alt="No picture to show" />
                    </a>

                </div>

            </div>
        </section>
        <section>
            <h3 class="title text-left">Media & Learning</h3>
            <div class="row">

                <div class="col-sm-12 col-md-3 sponsor-item">

                    <a href="https://www.oreilly.com/pub/cpc/270726" style target="_blank">
                        <img class="img-fluid" title="O'Reilly" style="max-height:168px" src="~/images/logo_guidelines_bg_white.png" alt="No picture to show" />
                    </a>

                </div>

            </div>
        </section>

    </div>

</div>
