@model IEnumerable<Conference.Domain.Entities.Editions>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Edition.css"/>

<div class="container">
    <h1 class="title text-mv">About 2019 Edition</h1>
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs nav-fill mv" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#info">Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#topics">
                        Topics
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="info" class="tab-pane active">
                    <h3>Info</h3>
                    <p><code>dotnetdays.ro</code> is a .Net and Microsoft related conference in Iasi, Romania.</p>
                    <p><code>dotnetdays</code> brings the .NET community in together for in-depth technical talks and workshops.</p>
                    <p>A great lineup of speakers will talk about the latest technologies and trends in .NET and Microsoft Azure</p>
                    <h3>Mission</h3>
                    <ul class="list-unstyled">
                        <li>provide a platform where developers can exchange knowledge and experiences about .Net and connected technologies.</li>
                        <li>We reflect the energy and enthusiasm of .Net Community members</li>
                        <li>Put Iasi on the map as a powerful .Net Community</li>
                        <li>Help .NET community to keep up with the new wave of technologies</li>
                    </ul>
                    <p>All the speakers and staff engage on a voluntary basis because they want to support and grow .NET Community.</p>
                    <p>We want to get <code>hands-on experience</code> from the best</p>
                    <p>We are about .Net, meeting people, learning and growing a craftmanship culture.</p>
                </div>
                <div id="topics" class="tab-pane fade"><br>
                    <h3>Topics</h3>
                    <ul class="list-unstyled">
                        <li>.NET, .NET Core</li>
                        <li>Software Architecture</li>
                        <li>Cloud Development</li>
                        <li>Web</li>
                        <li>Performance</li>
                        <li>Patterns</li>
                        <li>New technologies</li>
                        <li>Project experiences & Techical stories</li>
                    </ul>
                </div>
            </div>

        </div>
        
    </div>
</div>