@model IEnumerable<Conference.Domain.Entities.Speakers>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/styles/Speakers.css" />

<div class="">
    <div class="container">
        <div class="row parent">
            @foreach (var item in Model)
            {
                @if (item.FirstName == "Thissen")
                {

                    <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/91/alex-thissen.png.webp)">

                        <div class="details">
                            <a class="link" asp-controller="Speakers" asp-action="Details" asp-route-id="@item.Id">

                                <span class="name">Alex Thissen</span>
                                <span class="position">Cloud architect</span>
                                <span class="position">Xpirit</span>

                            </a>
                            <ul class="speaker-socials">
                                <li>
                                    <a target="_blank" class="link d-inline" href="https://twitter.com/alexthissen">
                                        <img src="~/images/twitter_PNG3.png" width="30" />
                                    </a>
                                </li>

                            </ul>
                        </div>


                    </div>
                }
                @if (item.FirstName == "Mang")
                {
                    <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/92/alex-mang.png.webp)">

                        <div class="details">
                            <a class="link" asp-controller="Speakers" asp-action="Details" asp-route-id="@item.Id">
                                <span class="name">Alex Mang</span>
                                <span class="position">CEO, Microsoft MVP& RD</span>
                                <span class="position">KeyTicket Solutions</span>

                            </a>
                            <ul class="speaker-socials">
                                <li>
                                    <a target="_blank" class="link d-inline" href="https://twitter.com/iamalexmang">
                                        <img src="~/images/twitter_PNG3.png" width="30" />
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                }
                @if (item.FirstName == "Doomen")
                {

                    <div class="col-sm-12 col-lg-3 child" style="background-image:url(https://dndays.blob.core.windows.net/img/94/dennis-doomen.png.webp)">

                        <div class="details">
                            <a class="link" asp-controller="Speakers" asp-action="Details" asp-route-id="@item.Id">
                                <span class="name">Dennis Doomen</span>
                                <span class="position">Software Architect</span>
                                <span class="position">Aviva Solutions</span>

                            </a>
                            <ul class="speaker-socials">
                                <li>
                                    <a target="_blank" class="link d-inline" href="https://twitter.com/ddoomen">
                                        <img src="~/images/twitter_PNG3.png" width="30" />
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>


                }
            }
        </div>
    </div>

</div>


